<h1>Tasks#index</h1>
<p>Tasks go here :</p>

<ul>
<% @tasks.each do |task| %>
  <li>
    <strong><%= task.title %></strong>
    <p><em><%= task.details %></em></p>
    <p><%= link_to 'Edit', edit_task_path(task) %>
  </li>
<% end %>
</ul>

<%= link_to 'New_Task', new_task_path %>
